@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  position: relative;
  font-family: "Oswald", sans-serif;
}

body input,
html input {
  height: 35px;
  width: 80%;
}

body input::-webkit-input-placeholder,
html input::-webkit-input-placeholder {
  padding: 10px;
  text-transform: capitalize;
}

body input:-ms-input-placeholder,
html input:-ms-input-placeholder {
  padding: 10px;
  text-transform: capitalize;
}

body input::-ms-input-placeholder,
html input::-ms-input-placeholder {
  padding: 10px;
  text-transform: capitalize;
}

body input::placeholder,
html input::placeholder {
  padding: 10px;
  text-transform: capitalize;
}

body button,
html button {
  width: 80%;
  height: 40px;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.navbar {
  width: 90vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 6fr 3fr;
      grid-template-columns: 3fr 6fr 3fr;
}

.navbar .navbar_items_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

.navbar .navbar_items_container .navbar-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar_items_container .navbar-list li {
  list-style: none;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
}

.navbar .login-options-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .login-options-navbar p {
  font-weight: 200;
  margin: 0 10px;
}

.section-signUP {
  height: 80vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-signUP .sidnUP-container {
  width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-signUP .sidnUP-container svg {
  margin-bottom: 10px;
}

.section-signUP .sidnUP-container h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 20px;
}

.section-signUP .sidnUP-container .terms_and_policy {
  text-align: center;
  font-weight: 300;
  padding: 10px 0;
  width: 80%;
  color: #aaaaaa;
}

.section-signUP .signUP_notification {
  visibility: hidden;
}

.section-login {
  display: none;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-login .login-container {
  width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-login .login-container h4 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 20px;
}

.section-login .login-container button {
  margin-top: 20px;
}

.section-login .login-container .login_notification {
  visibility: hidden;
}

.section-login .login-container .checkbox {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-login .login-container .checkbox input {
  width: 20px;
}

.section-login .login-container .checkbox p {
  margin-left: 5px;
}

.section_shop_adds {
  display: block;
}

.shop_section {
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
}

.shop_section .selected-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.shop_section .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop_section .product button {
  width: 55%;
  border-radius: 20px;
}

.shop_section .product .addToCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
  padding: 5px;
}

.shop_section a {
  text-decoration: none;
  color: white;
}

.section_shoping_cart {
  position: absolute;
  top: 35px;
  right: 0;
  width: 300px;
  background-color: white;
  display: none;
}

.section_shoping_cart .item_in_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_shoping_cart .item_in_cart .details {
  width: 50%;
  border: 1px solid red;
}

.section_shoping_cart .item_in_cart .details .number_of_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_shoping_cart .item_in_cart .image img {
  width: 70px;
  height: 70px;
}

.section_shoping_cart.active {
  display: block;
}

#NewFeatures {
  display: none;
}

#Men {
  display: none;
}

#Woman {
  display: none;
}

#Kids {
  display: none;
}

#Sale {
  display: none;
}
/*# sourceMappingURL=index.css.map */