* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
body,
html {
  font-family: "Oswald", sans-serif;
  input {
    height: 35px;
    width: 80%;
  }
  input::placeholder {
    padding: 10px;
    text-transform: capitalize;
  }
  button {
    width: 80%;
    height: 40px;
    background-color: black;
    color: white;
    text-transform: uppercase;
  }
}
//navbar
.navbar {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;

  .navbar_items_container {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    .navbar-list {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      li {
        list-style: none;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 1px;
      }
    }
  }
  .login-options-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      font-weight: 200;
      margin: 0 10px;
    }
  }
}
//sign in view

.section-signUP {
  height: 80vh;
  display: none;
  justify-content: center;
  align-items: center;
  .sidnUP-container {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
      margin-bottom: 10px;
    }
    h2 {
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 30px;
      padding: 20px;
    }
    .terms_and_policy {
      text-align: center;
      font-weight: 300;
      padding: 10px 0;
      width: 80%;
      color: rgb(170, 170, 170);
    }
  }
  .signUP_notification {
    visibility: hidden;
  }
}

//logIN
.section-login {
  display: none;
  height: 80vh;

  justify-content: center;
  align-items: center;
  .login-container {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 30px;
      padding: 20px;
    }
    button {
      margin-top: 20px;
    }
    .login_notification {
      visibility: hidden;
    }
    .checkbox {
      width: 80%;
      display: flex;
      justify-content: start;
      align-items: center;
      input {
        width: 20px;
      }
      p {
        margin-left: 5px;
      }
    }
  }
}
//SHOP VIEW
.section_shop_adds {
  display: block;
}

.shop_section {
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
  .selected-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button {
      width: 55%;
      border-radius: 20px;
    }
    .addToCart {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 55%;
      padding: 5px;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
}

#NewFeatures {
  display: none;
}
#Men {
  display: none;
}
#Woman {
  display: none;
}
#Kids {
  display: none;
}
#Sale {
  display: none;
}
