@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  position: relative;
  font-family: "Oswald", sans-serif;
}
body input,
html input {
  height: 35px;
  width: 80%;
}
body input::-moz-placeholder, html input::-moz-placeholder {
  padding: 10px;
  text-transform: capitalize;
}
body input:-ms-input-placeholder, html input:-ms-input-placeholder {
  padding: 10px;
  text-transform: capitalize;
}
body input::placeholder,
html input::placeholder {
  padding: 10px;
  text-transform: capitalize;
}
body button,
html button {
  height: 40px;
  background-color: black;
  color: white;
  text-transform: uppercase;
}
body a,
html a {
  text-decoration: none;
  color: white;
}

.navbar {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
}
.navbar .navbar_items_container {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.navbar .navbar_items_container .navbar-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar .navbar_items_container .navbar-list li {
  list-style: none;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
}
.navbar .login-options-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar .login-options-navbar p {
  font-weight: 200;
  margin: 0 10px;
}

.section-signUP {
  height: 80vh;
  display: none;
  justify-content: center;
  align-items: center;
}
.section-signUP .sidnUP-container {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-signUP .sidnUP-container svg {
  margin-bottom: 10px;
}
.section-signUP .sidnUP-container h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 20px;
}
.section-signUP .sidnUP-container .terms_and_policy {
  text-align: center;
  font-weight: 300;
  padding: 10px 0;
  width: 80%;
  color: rgb(170, 170, 170);
}
.section-signUP .signUP_notification {
  visibility: hidden;
}

.section-login {
  display: none;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.section-login .login-container {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-login .login-container h4 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 20px;
}
.section-login .login-container button {
  margin-top: 20px;
}
.section-login .login-container .login_notification {
  visibility: hidden;
}
.section-login .login-container .checkbox {
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.section-login .login-container .checkbox input {
  width: 20px;
}
.section-login .login-container .checkbox p {
  margin-left: 5px;
}

.section_shop_adds {
  display: block;
}
.section_shop_adds .section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.section_shop_adds .section-1 h2 {
  font-size: 60px;
  font-weight: 800;
  padding-top: 20px;
}
.section_shop_adds .section-1 p {
  padding: 20px 0;
  font-weight: 300;
  letter-spacing: 1px;
}
.section_shop_adds .section-1 .image-box {
  width: 2000px;
  max-width: 90%;
}
.section_shop_adds .section-1 .image-box img {
  width: 100%;
}
.section_shop_adds .section-1 button {
  width: 200px;
  border-radius: 20px;
}
.section_shop_adds .section-1 button a {
  text-decoration: none;
  list-style: none;
  color: white;
}
.section_shop_adds .section-2 h3 {
  max-width: 90%;
  width: 2000px;
  margin: 50px auto;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 600;
}
.section_shop_adds .section-2 .content-container {
  height: 800px;
  width: 2000px;
  max-width: 90%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.section_shop_adds .section-2 .content-container p {
  color: white;
  letter-spacing: 2px;
  font-size: 40px;
}
.section_shop_adds .section-2 .content-container button {
  background-color: white;
  color: black;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
}
.section_shop_adds .section-2 .content-container button a {
  color: black;
}
.section_shop_adds .section-2 .content-container .left-content {
  width: 100%;
  background-image: url(../images/img-4.webp);
  background-position: center;
  background-size: cover;
  margin-right: 10px;
  position: relative;
}
.section_shop_adds .section-2 .content-container .left-content .left-text {
  position: absolute;
  left: 20px;
  bottom: 40px;
}
.section_shop_adds .section-2 .content-container .right-content {
  display: grid;
  gap: 10px;
  width: 100%;
  position: relative;
}
.section_shop_adds .section-2 .content-container .right-content .image-top {
  height: 100%;
  background-image: url(../images/img-5.webp);
  background-position: center;
  background-size: cover;
  position: relative;
}
.section_shop_adds .section-2 .content-container .right-content .image-top .top_text {
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.section_shop_adds .section-2 .content-container .right-content .image-top .top_text h2 {
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 600;
}
.section_shop_adds .section-2 .content-container .right-content .image-top .top_text p {
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 200;
}
.section_shop_adds .section-2 .content-container .right-content .image-bottom {
  height: 100%;
  background-image: url(../images/img-6.webp);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.section_shop_adds .section-2 .content-container .right-content .image-bottom .bottom_text {
  position: absolute;
  left: 20px;
  bottom: 30px;
}
.section_shop_adds .section-2 .content-container .right-content .image-bottom .bottom_text p {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 600;
}

.shop_section {
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
}
.shop_section .selected-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.shop_section .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shop_section .product button {
  width: 55%;
  border-radius: 20px;
}
.shop_section .product .addToCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  padding: 5px;
}
.shop_section a {
  text-decoration: none;
  color: white;
}

.section_shoping_cart {
  position: absolute;
  top: 35px;
  right: 0;
  width: 300px;
  background-color: white;
  display: none;
}
.section_shoping_cart .item_in_cart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section_shoping_cart .item_in_cart .details {
  width: 50%;
  border: 1px solid red;
}
.section_shoping_cart .item_in_cart .details .number_of_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section_shoping_cart .item_in_cart .image img {
  width: 70px;
  height: 70px;
}

.section_shoping_cart.active {
  display: block;
}

#NewFeatures {
  display: none;
}

#Men {
  display: none;
}

#Woman {
  display: none;
}

#Kids {
  display: none;
}

#Sale {
  display: none;
}/*# sourceMappingURL=index.css.map */